<div class="signup-container">
  <h2>Signup</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</div>
<button routerLink="/login">login</button>
