/* card-list.component.css */
#section_1 {
  height: 300px; /* Réglez la hauteur souhaitée en pixels */
}


@media (max-width: 768px) {
  #section_1 {
    height: 200px; /* Hauteur réduite pour les écrans de 768px de largeur ou moins */
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .header {
    background-color: #424261;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
  
  .title-prefix {
    color: #60d480;
    font-weight: bold;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .content {
    width: 100%;
    max-width: 600px;
    margin-top: 20px; /* Adjust as needed */
  }
  .card-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si l'espace est insuffisant */
    gap: 20px; /* Espace entre les cartes, ajustez selon vos préférences */
    justify-content: center; /* Centre les cartes horizontalement */
  }
  .card-form {
    text-align: center;
    margin-top: 20px;
  }
  
  .card-form .custom-button {
    border-radius: 59px;
    background: #bdafaf;
    box-shadow: inset 24px 24px 48px #d7abab,
                inset -24px -24px 48px #b29e9e;
  }
  
  .buttons-container {
    display: flex;
    justify-content:
     space-between;
    width: 100%;
  }
  
  .card-container {
    display: flex;
    gap: 12px;
  }
  
 .card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #424261;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  gap: 12px;
  border-radius: 15px;
  cursor: pointer;
  color: #000000;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(40px);
}

.heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}

.card p:not(.heading) {
  font-size: 20px;
  color: #000000;
}

.card p:not(after) {
  font-size: 0px;
  color: #ffffff;
}

.card p:last-child {
  color: #ffffff;
}

.card:hover::after {
  filter: blur(50px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card:hover {
  transform: scale(1);
}

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left; /* Ajoutez un espacement entre les boutons si nécessaire */
}
.button-8 {
  touch-action: manipulation;
  appearance: button;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  vertical-align: baseline;
}

.button-8:focus {
  outline: 0;
}

.button-8 {
  touch-action: manipulation;
  background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
  border-radius: 8px;
  color: #fff;
  font-feature-settings: "ss01", "cv10", "calt"0, "liga"0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  transition: transform .2s cubic-bezier(.6, .6, 0, 1), margin-top .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
}

.button-8::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

.button-8::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, .32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

.button-8::after,
.button-8::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.button-8::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .3) 0 9px 21px, rgba(73, 2, 57, .2) 0 -3px inset;
  height: 100%;
  transition: box-shadow .2s cubic-bezier(.6, .6, 0, 1), background-color .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
}

.button-8:active {
  transform: translateY(1.5px);
}

.button-8:hover::after {
  background-color: rgba(255, 255, 255, .1);
}

.button-8:active::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .2) 0 9px 21px, rgba(73, 2, 57, .2) 0 0 inset;
}
.switch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  justify-content: center;
  margin: auto;
  height: 55px;
}

.switch-button .switch-outer {
  height: 100%;
  background: #252532;
  width: 115px;
  border-radius: 165px;
  -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  border: 1px solid #32303e;
  padding: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.switch-button .switch-outer .button-toggle {
  height: 42px;
  width: 42px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3b3a4e),
    to(#272733)
  );
  background: -o-linear-gradient(#3b3a4e, #272733);
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  position: relative;
  z-index: 2;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  left: 0;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-toggle {
  left: 58%;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-indicator {
  -webkit-animation: indicator 1s forwards;
  animation: indicator 1s forwards;
}

.switch-button .switch-outer .button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
  height: 25px;
  width: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #ef565f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
  position: relative;
}

@-webkit-keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}

@keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}