
.comment-box {
  background-color: #F9F7FE;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  margin-bottom: 100px;
}
button
{
  background-color: transparent;
  border-style: none;
}
.likeContainer
{
  margin-top: 18px;
  margin-bottom: 18px;

}
