<div class="container">
  <h2>Ajouter un nouveau Projet</h2>
  <form #f="ngForm" (ngSubmit)="add(f)">
    <div>
      <input type="file" #imageInput style="display: none;" (change)="onImageSelected($event)">
      <button id="imageInput" type="button" (click)="imageInput.click()">Add Image</button>
    </div>
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="project.title" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="project.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="prototype">Prototype</label>
      <input type="text" class="form-control" id="prototype" name="prototype" [(ngModel)]="project.prototype" required>
    </div>
    <div class="form-group">
      <label for="dateDebut">Date de début</label>
      <input type="date" class="form-control" id="dateDebut" name="dateDebut" [(ngModel)]="project.dateDebut"  required>
    </div>
    <div class="form-group">
      <label for="dateFinPrevu">Date de fin prévue</label>
      <input type="date" class="form-control" id="dateFinPrevu" name="dateFinPrevu" [(ngModel)]="project.dateFinPrevu" required>
    </div>
    <div class="form-group">
      <label for="etatProject">État du Projet</label>
      <select class="form-control" id="etatProject" name="etatProject" [(ngModel)]="project.etatProject" required>
        <option *ngFor="let state of etatValues" [value]="state">{{ state }}</option>
      </select>
    </div>

    <button type="submit"  class="btn btn-primary">ajouter</button>
  </form>
</div>
