
<main>


  <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="index.html">
          </a>
          <p>logo</p>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav align-items-lg-center ms-auto me-lg-5">
                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_1" style="color: black;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="/project" style="color: black;">Projects</a>
                </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" routerLink="/UserStoryFront" style="color: black;">UserStory</a>
                  </li>
                

                  <li class="nav-item">
                      <a class="nav-link click-scroll" routerLink="/cardsFront"  style="color: black;">Cards</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll"  routerLink="/sessionFront"  style="color: black;">Sessions</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_5" style="color: black;">Pricing</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_6" style="color: black;">Contact</a>
                  </li>
              </ul>

              <a routerLink="/login" class="btn custom-btn d-lg-block d-none">connexion</a>
          </div>
      </div>
  </nav>



 
